@font-color-main: black;
@stylish-font: 'Cedarville Cursive', cursive;

@dm-background: rgba(42, 42, 46, 1);
@dm-font-color: white;

.flexbox-property {
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
}

.spacer {
  margin: 10px 0px;
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: @dm-background;
  transition: border-bottom-color 0.3s;
  .darkMode & {
    border-bottom-color: #f2e5d7;
  }
}

.button {
  background-color: #99d5c9;
  border-radius: 15px;
  text-decoration: none;
  color: black;
  padding: 15px 30px;
  margin: 0 15px;
  display: block;
  font-weight: 500;
  transition: background-color 0.2s;
  &:hover {
    background-color: #f2e5d7;
  }
}

.smallButton {
  background-color: #99d5c9;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  padding: 10px;
  margin: 0 10px;
  display: block;
  font-weight: 500;
  transition: background-color 0.2s;
  &:hover {
    background-color: #f2e5d7;
  }
}
