@font-color-main: black;
@stylish-font: 'Cedarville Cursive', cursive;

@dm-background: rgba(42, 42, 46, 1);
@dm-font-color: white;

@keyframes button {
	from {background-color: white;}
	to {background-color: hotpink;}
}

.flexbox-property {
	display: flex;
	justify-content: space-around; 
	margin: 10px auto;
	border-bottom: 1px solid @font-color-main;
}

.hover {
  color: black;
	animation-name: button;
  animation-duration: 2s;
  animation-fill-mode: forwards;
	// font-weight: bold;
}